@media screen {
  div.card {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  div.reference {
    margin: 1rem 0 0 0.5rem;
    font-size: 75%;
  }

  div.instructions {
    padding: 1rem;
  }

  div.title {
    display: flex;
    flex-flow: row;
    background-color: rgb(81, 130, 187);
    align-items: stretch;
    justify-content: space-between;
    border-radius: 0.25em 0 0 0.25em;
  }

  div.titleText {
    font-size: 140%;
    color: white;
    padding: 0.5rem;
  }

  div.titleNumber {
    display: flex;
    flex: 0 0 10%;
    font-size: 150%;
    background-color: rgb(245, 227, 83);
    color: rgb(81, 130, 187);
    justify-content: center;
    align-items: center;
  }

  div.section {
    border: 1px solid rgb(81, 130, 187);
    padding: 2px;
    margin-bottom: 1rem;
  }

  div.sectionHeader {
    display: flex;
    background-color: rgb(81, 130, 187);
    color: white;
    font-size: 125%;
    padding: 0.5rem;
  }

  div.sectionQuestions > div.question:nth-child(odd) {
    background-color: rgb(186, 205, 228);
    border: 1px solid white;
  }

  div.sectionQuestions > div.question:nth-child(even) {
    background-color: rgb(237, 242, 248);
    border: 1px solid white;
  }

  div.question {
    display: flex;
    flex-flow: row;
  }

  div.questionText {
    flex: 0 0 70%;
    padding: 0.5rem 0 0.5rem 0.5rem;
  }

  div.questionChoices {
    border-left: 1px solid white;
    align-items: center;
    flex: 0 0 30%;
    display: flex;
    flex-flow: row;
  }

  div.questionChoice {
    text-align: center;
  }

  div.questionChoices[data-count="2"] > div.questionChoice {
    flex: 0 0 50%;
  }

  div.questionChoices[data-count="3"] > div.questionChoice {
    flex: 0 0 33.33%;
  }

  div.observable {
    display: flex;
    flex-flow: row;
  }

  div.observableLabel {
    flex: 0 0 70%;
    text-align: right;
    background-color: rgb(81, 130, 187);
    color: white;
    padding: 0.5rem 0.5rem 0.5rem 0;
  }

  div.observableInput {
    flex: 0 0 30%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(81, 130, 187);
  }

  div.total {
    display: flex;
    flex-flow: row;
  }

  div.totalText {
    flex: 0 0 70%;
    text-align: right;
    background-color: rgb(81, 130, 187);
    color: white;
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin-right: -0.5rem;
  }

  div.totalChoices {
    flex: 0 0 30%;
    display: flex;
    flex-flow: row;
    align-items: center;
    border: 1px solid rgb(81, 130, 187);
  }

  div.totalChoice {
    text-align: center;
  }

  div.totalChoices[data-count="2"] > div.totalChoice {
    flex: 0 0 50%;
  }

  div.totalChoices[data-count="3"] > div.totalChoice {
    flex: 0 0 33.33%;
  }
}

@media print {
  div.card {
    padding-top: 1rem;
  }

  div.reference {
    display: none;
  }

  div.instructions {
    padding: 1rem;
  }

  div.title {
    display: flex;
    flex-flow: row;
    align-items: stretch;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }

  div.titleText {
    font-size: 140%;
    padding: 0.5rem;
  }

  div.titleNumber {
    display: flex;
    flex: 0 0 10%;
    font-size: 150%;
    justify-content: center;
    align-items: center;
  }

  div.section {
    padding: 2px;
    margin-bottom: 1rem;
  }

  div.sectionHeader {
    display: flex;
    font-size: 125%;
    padding: 0.5rem;
  }

  div.sectionQuestions > div.question:nth-child(odd) {
    border: 1px solid black;
  }

  div.sectionQuestions > div.question:nth-child(even) {
    background-color: rgb(237, 242, 248);
    border: 1px solid black;
  }

  div.question {
    display: flex;
    flex-flow: row;
  }

  div.questionText {
    flex: 0 0 70%;
    padding: 0.5rem 0 0.5rem 0.5rem;
  }

  div.questionChoices {
    border-left: 1px solid black;
    align-items: center;
    flex: 0 0 30%;
    display: flex;
    flex-flow: row;
  }

  div.questionChoice {
    text-align: center;
  }

  div.questionChoice input[type="radio"] {
    visibility: hidden;
  }

  div.questionChoice input[type="radio"]:not(:checked) + label {
    display: none;
  }

  div.questionChoices[data-count="2"] > div.questionChoice {
    flex: 0 0 50%;
  }

  div.questionChoices[data-count="3"] > div.questionChoice {
    flex: 0 0 33.33%;
  }

  div.observable {
    display: flex;
    flex-flow: row;
  }

  div.observableLabel {
    flex: 0 0 70%;
    text-align: right;
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin-right: -0.5rem;
  }

  div.observableInput {
    flex: 0 0 30%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-items: center;
    border: 1px solid black;
  }

  div.total {
    display: flex;
    flex-flow: row;
  }

  div.totalText {
    flex: 0 0 70%;
    text-align: right;
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin-right: -0.5rem;
  }

  div.totalChoices {
    flex: 0 0 30%;
    display: flex;
    flex-flow: row;
    align-items: center;
    border: 1px solid black;
  }

  div.totalChoice {
    text-align: center;
  }

  div.totalChoices[data-count="2"] > div.totalChoice {
    flex: 0 0 50%;
  }

  div.totalChoices[data-count="3"] > div.totalChoice {
    flex: 0 0 33.33%;
  }
}
