html {
  box-sizing: border-box;
  font-size: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
}

div.header {
  position: sticky;
  height: 3rem;
  top: 0;
  width: 100%;
  padding-left: 0.5rem;
  background: white;
  display: flex;
  flex-flow: row;
  border-bottom: 3px solid grey;
  align-items: center;
}

@media print {
  div.header {
    display: none !important;
  }
}
